body{
  background-color: rgba(0, 0, 0, 0.103);
  display: flex;
  justify-content: center;
  font-size: 20px;
}

#root{
  width: 40%;
}

h1 {
  text-align:center;
}

span{
  margin: 5px;
}

.add-item-form,
.sort-filter-panel{
  display: flex;
  flex-direction: row;
}

.add-item-form{
  justify-content: center;
}

.sort-filter-panel{
  justify-content: space-between;
  padding: 20px;
}

.filter{
  padding: 7px;
  border: 1px solid red;
  border-radius: 1em;
  margin: 5px;
  cursor: pointer;
  color: red;
  background-color: white;
  transition: all 0.4s ease;
}

ul{
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li{
  display: inline;
  padding: 20px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 0.5em;
  box-shadow: 3px 3px 5px 3px rgb(0 0 0 / 20%);;
}

/* .item{
  height: 80px;
  transition: all 0.5s ease-in-out;
}
.item:hover{
  height: 100px;
} */

.item-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-item,
.edit-item-form{
  display: inline;
}

.status > input[type="checkbox"] + label::after{
  content: "\f057";
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  color: red;
}

.status > input[type="checkbox"]:checked + label::after {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: green;
}

.status > input {
  opacity: 0;
  position: absolute;
}

.filter:hover{
  color: white;
  background-color: red;
}