body{
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: cursive;
  overflow-y: scroll;
}

input{
  font-size: 20px;
  font-family: cursive;
}

#root{
  width: 50%;
}

h2 {
  text-align:center;
  margin-bottom: 10px;
}

span{
  margin: 5px;
}

.add-item-form,
.sort-filter-panel{
  display: flex;
  flex-direction: row;
}

.add-item-form{
  height: 40px;
  padding: 30px;
}

::-webkit-input-placeholder {
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

.add-item-form > input{
  text-align: center;
  border:1px solid red;
  border-radius: 1em;
  padding: 10px;
  width: 300px;
  transition: width 0.5s ease-in-out;  
}

.add-item-form > input:focus{
  outline-color: red;
  width: 400px;
}

.add-item-form{
  justify-content: center;
}

.sort-filter-panel{
  justify-content: space-between;
  padding: 10px;
}

.filter{
  padding: 7px;
  border: 1px solid red;
  border-radius: 1em;
  margin: 5px;
  cursor: pointer;
  color: red;
  background-color: white;
  transition: all 0.4s ease;
}

.filter.active{
  color: white;
  background-color: red;
}

.action.active{
  color: red;
}

.alert-empty-items{
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 40px;
  margin: 40px;
  background-color: red;
  color: white;
  border: 2px solid red;
  border-radius: 20px;
  font-size: xxx-large;
  transition: all 0.5s ease-in-out;
}

.alert-empty-items:hover{
  color: red;
  background-color: white;
}

ul{
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li{
  display: inline;
  padding-inline: 15px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 0.5em;
  box-shadow: 3px 3px 5px 3px rgb(0 0 0 / 20%);;
}

/* .item{
  height: 80px;
  transition: all 0.5s ease-in-out;
}
.item:hover{
  height: 100px;
} */

.item-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-item,
.edit-item-form{
  display: inline;
  align-self: center;
}

.edit-item > input{
  border: 1px solid red;
  border-radius: 3ex;
  padding: 15px;
  text-align: center;
  font-size: large;
  width: 300px;
}

.status > input[type="checkbox"] + label::after{
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  color: black;
}

.status > input[type="checkbox"]:checked + label::after {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: green;
}

.status > input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.status > label {
  cursor: pointer;
}

.time-delete{
  display: flex;
  flex-direction: row;
  /* align-self: center; */
}

.name,
.status,
.time,
.delete{
  cursor: pointer;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  transition: all 0.3s ease;
}

.name{
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 35ch;
}

.time{
  margin-inline-end: 20px;
}


#pagination{
  display: flex;
  justify-content: space-evenly
}
.sort,
.page{
  cursor: pointer;
  color: red;
  padding: 7px;
  border: 1px solid red;
  border-radius: 0.5em;
  background-color: white;
  transition: all 0.4s ease;
}

.active.page{
  color: white;
  background-color: red;
}

.page.no-vis{
  display: none;
}

.delete:hover,
.page.arrow{
  align-self: center;
  color: red;
  border: 0px;
}

.sort:hover,
.sort.active,
.page:hover,
.filter:hover{
  color: white;
  background-color: red;
}