.ant-row.item{
  border: 1px solid #91d5ff;
  font-size: 14px;
  background: #e6f7ff;
  border-radius: 4px;
  color: black;
}

.ant-col.item-data{
  display: flex;
  justify-content: center;
}

 .items{
  margin: 10px 0;
}

.ant-typography-edit-content.item-name{
  z-index: 1;
}